#Services{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#Services .container{
    width: 1500px;
}

.card-wrapper{
    max-width: 1500px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    height: 450px;
    background:  #fff;
    padding: 19px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:hover{
    border-color: #5372F0;
}

.card-image{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width:fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.designer{
    color: #B22485 ;
    background: #F7DFF5;
}

.card-list .card-link .badge.marketer{
    color: #B25A2B;
    background: #FFE3D2;
}

.card-list .card-link .badge.gamer{
    color: #205C20;
    background: #D6F8D6;
}

.card-list .card-link .badge.editor{
    color: #856404;
    background: #fff3cd;
}

.card-list .card-link .card-title{
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button{
    position: absolute;
    bottom: 20px;
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button{
    color: #fff;
    background: #5372F0;
}